<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>댓글 수정</title>
</head>
<body>
	댓글수정
		<form th:action="@{/news/reply/save}" th:object="${newsReply}" method="post">
		<input type="text" name="newsArticleId" th:value="${newsArticleId}"><br><br>
		<input type="text" th:field="*{id}"><br><br>
		<label>작성자: </label>
		<input type="text" th:field="*{userId}" readonly="readonly"><br><br>
		<label>내용: </label>
		<input type="text" th:field="*{contents}"><br><br>
		<input type="submit"value="댓글 저장">	</form>
</body>
</html>
